@charset "UTF-8";
@font-face {
    font-family: "Merriweather Sans";
    font-weight: normal;
    src: url("../fonts/MerriweatherSans-Regular.ttf"); }

@font-face {
    font-family: "Merriweather Sans";
    font-weight: bold;
    src: url("../fonts/MerriweatherSans-Bold.ttf"); }

@font-face {
    font-family: "Merriweather Sans";
    font-style: italic;
    src: url("../fonts/MerriweatherSans-Italic.ttf"); }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    position: relative;
    transition: 0.2s all; }

body {
    background: #1d1f21;
    color: #c5c8c6;
    font-family: "Merriweather Sans", sans-serif;
    font-size: 18px;
    line-height: 36px; }

a {
    color: #81a2be;
    cursor: pointer;
    text-decoration: none; }
    a:hover {
        text-decoration: underline; }

.container {
    margin: 0 auto;
    max-width: 960px; }

body:before {
    background: url("http://localhost:8000/image.php?height=40&hex=ffffff") repeat top left;
    content: " ";
    opacity: 0.5;
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999; }

body:before {
    display: none; }

body:active:before {
    display: none; }

body {
    padding: 36px; }

h2 {
    margin: 0 36px 36px; }

.flex {
    border: 9px solid #282a2e;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 36px;
    padding: 9px; }
    @media (max-width: 540px) {
        .flex {
            align-items: stretch;
            flex-direction: column; } }
    .flex a {
        display: block;
        flex-basis: 50%;
        padding: 0 18px; }
        .flex a#xx {
            color: #969896; }
        .flex a.current {
            background: #282a2e;
            color: #b5bd68; }
        .flex a:hover {
            background: #373b41;
            color: #e0e0e0;
            text-decoration: none; }

input {
    border: 0;
    background: #282a2e;
    color: inherit;
    font: inherit;
    height: 36px;
    padding: 0 18px;
    outline: 0; }
    input:focus {
        background: #373b41;
        color: #e0e0e0; }

.inputs {
    display: flex;
    flex-wrap: wrap;
    margin-right: -36px; }

.combo {
    border: 9px solid #c5c8c6;
    display: flex;
    flex-direction: column;
    margin-right: 36px;
    margin-bottom: 36px;
    padding: 9px;
    flex: 1; }
    .combo[index="0"] {
        border-color: #493132; }
        .combo[index="0"] label {
            color: #cc6666;
            padding: 0 18px; }
    .combo[index="1"] {
        border-color: #4d3c31; }
        .combo[index="1"] label {
            color: #de935f;
            padding: 0 18px; }
    .combo[index="2"] {
        border-color: #524936; }
        .combo[index="2"] label {
            color: #f0c674;
            padding: 0 18px; }
    .combo[index="3"] {
        border-color: #434733; }
        .combo[index="3"] label {
            color: #b5bd68;
            padding: 0 18px; }
    .combo[index="4"] {
        border-color: #384747; }
        .combo[index="4"] label {
            color: #8abeb7;
            padding: 0 18px; }
    .combo[index="5"] {
        border-color: #364048; }
        .combo[index="5"] label {
            color: #81a2be;
            padding: 0 18px; }
    .combo[index="6"] {
        border-color: #423c48; }
        .combo[index="6"] label {
            color: #b294bb;
            padding: 0 18px; }
    .combo[index="7"] {
        border-color: #3f312f; }
        .combo[index="7"] label {
            color: #a3685a;
            padding: 0 18px; }

#bar {
    background: #1d1f21;
    color: #969896;
    margin-top: 36px;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center; }
    #bar span {
        margin: 0 18px; }
