// IMPORTS /////////////////////////////////////////////////////////////////////

@import "partials/_variables.sass"
@import "partials/_core.sass"

// COMMON ELEMENTS /////////////////////////////////////////////////////////////

body
    padding: $n

h2
    // padding: 0 $n
    margin: 0 $n $n

// FLEX BOXES //////////////////////////////////////////////////////////////////

.flex
    border: $n*0.25 solid $base01
    display: flex
    flex-direction: row
    flex-wrap: wrap
    margin-bottom: $n
    padding: $n*0.25
    @media (max-width: $max)
        align-items: stretch
        flex-direction: column

    a
        display: block
        flex-basis: 50%
        padding: 0 $n*0.5

        &#xx
            color: $base03

        &.current
            background: $base01
            color: $base0b

        &:hover
            background: $base02
            color: $base06
            text-decoration: none

// INPUTS //////////////////////////////////////////////////////////////////////

input
    border: 0
    background: $base01
    color: inherit
    font: inherit
    height: $n
    padding: 0 $n*0.5
    outline: 0

    &:focus
        background: $base02
        color: $base06

.inputs
    display: flex
    flex-wrap: wrap
    margin-right: -$n

.combo
    border: $n*0.25 solid $base05
    display: flex
    flex-direction: column
    margin-right: $n
    margin-bottom: $n
    padding: $n*0.25
    flex: 1

    // I wanted to do this automatically but sass complained for weird reasons.

    &[index="0"]
        $hue: $base08
        border-color: mix($base00, $hue, 75%)

        label
            color: $hue
            padding: 0 $n*0.5

    &[index="1"]
        $hue: $base09
        border-color: mix($base00, $hue, 75%)

        label
            color: $hue
            padding: 0 $n*0.5

    &[index="2"]
        $hue: $base0a
        border-color: mix($base00, $hue, 75%)

        label
            color: $hue
            padding: 0 $n*0.5

    &[index="3"]
        $hue: $base0b
        border-color: mix($base00, $hue, 75%)

        label
            color: $hue
            padding: 0 $n*0.5

    &[index="4"]
        $hue: $base0c
        border-color: mix($base00, $hue, 75%)

        label
            color: $hue
            padding: 0 $n*0.5

    &[index="5"]
        $hue: $base0d
        border-color: mix($base00, $hue, 75%)

        label
            color: $hue
            padding: 0 $n*0.5

    &[index="6"]
        $hue: $base0e
        border-color: mix($base00, $hue, 75%)

        label
            color: $hue
            padding: 0 $n*0.5

    &[index="7"]
        $hue: $base0f
        border-color: mix($base00, $hue, 75%)

        label
            color: $hue
            padding: 0 $n*0.5

// BOTTOM BAR THING ////////////////////////////////////////////////////////////

#bar
    background: $base00
    color: $base03
    margin-top: $n
    right: 0
    bottom: 0
    left: 0
    text-align: center

    span
        margin: 0 ($n * 0.5)
