@font-face {
  font-family: "Merriweather Sans";
  font-weight: normal;
  src: url("../fonts/MerriweatherSans-Regular.ttf"); }
@font-face {
  font-family: "Merriweather Sans";
  font-weight: bold;
  src: url("../fonts/MerriweatherSans-Bold.ttf"); }
@font-face {
  font-family: "Merriweather Sans";
  font-style: italic;
  src: url("../fonts/MerriweatherSans-Italic.ttf"); }
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative; }

body {
  background: #1d1f21;
  color: #c5c8c6;
  font-family: "Merriweather Sans", sans-serif;
  font-size: 18px;
  line-height: 30px; }

a {
  color: #81a2be;
  cursor: pointer;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

label, input {
  display: block; }

* {
  transition: 0s all !important;
  pointer-events: none !important; }

#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.ecg .container {
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
.ecg img {
  max-width: 100%; }

.output .container {
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 30px; }
.output .block {
  display: flex;
  flex-direction: column;
  width: 25%;
  text-align: center;
  opacity: 0;
  margin-bottom: 30px; }
  .output .block.active {
    opacity: 1; }
  .output .block .value, .output .block .label {
    font-size: 31.5px;
    line-height: 45px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; }
  .output .block[index="0"] .label {
    color: #cc6666; }
  .output .block[index="1"] .label {
    color: #de935f; }
  .output .block[index="2"] .label {
    color: #f0c674; }
  .output .block[index="3"] .label {
    color: #b5bd68; }
  .output .block[index="4"] .label {
    color: #8abeb7; }
  .output .block[index="5"] .label {
    color: #81a2be; }
  .output .block[index="6"] .label {
    color: #b294bb; }
  .output .block[index="7"] .label {
    color: #a3685a; }
