doctype html
html

    head

        meta(charset="utf-8")

        link(rel="stylesheet" href="css/display.css")

        title Patient Monitor

    body

        section#app

            div.emt: div.container
                img(v-bind:src="core.emt_current")

            div.output: div.container
                div.block(
                    v-for="(item, index) in core.input"
                    v-bind:id="item.id"
                    v-bind:index="index"
                    v-bind:class="{active: item.data}"
                )
                    div.label {{item.name}}
                    div.value {{item.data}}

        //- external scripts
        script(src="js/jquery-3.1.1.js")
        script(src="js/lodash.min.js")
        script(src="js/vue.js")

        //- internal scripts
        script(src="js/core.js")
        script(src="js/display.js")
