doctype html
html

    head

        meta(charset="utf-8")

        link(rel="stylesheet" href="css/display.css")

        title Patient Monitor

    body

        section#app: div.container

            div.emt
                h2 EMT
                img(v-bind:src="core.emt_current")
                span {{core.emt_current}}

        //- external scripts
        script(src="js/jquery-3.1.1.js")
        script(src="js/lodash.min.js")
        script(src="js/vue.js")

        //- internal scripts
        script(src="js/core.js")
        script(src="js/display.js")
