doctype html
html

    head

        meta(charset="utf-8")

        link(rel="stylesheet" href="css/control.css")

        title Control Screen - Patient Monitor

    body

        section#app: div.container

            div.controls
                h2 Controls
                div.flex
                    a(v-on:click="resetEverything") Reset everything
                    a(target="_blank" href="display.html") Open display

            div.emt
                h2 EMT Display
                div.flex
                    a(
                        v-for="link in core.emt"
                        v-bind:value="link.src"
                        v-bind:id="link.id"
                        v-bind:class="{ current: link.current }"
                        v-on:click="updateEMT($event)"
                    ) {{link.name}}

            div.input
                h2 Patient Status
                div.inputs
                    div.combo(
                        v-for="(item, index) in core.input"
                        v-bind:index="index"
                        v-bind:id="item.id"
                    )
                        label(v-bind:for="item.id") {{item.name}}
                        input(v-model="item.data")

        section#bar: div.container
            a.display(target="_blank" href="display.html") Open Display
            span *
            a(href="http://itaniknight.github.io/monitor/") Latest Version
            span *
            a(href="http://github.com/itaniknight/monitor/") GitHub

        //- external scripts
        script(src="js/jquery-3.1.1.js")
        script(src="js/lodash.min.js")
        script(src="js/vue.js")

        //- internal scripts
        script(src="js/core.js")
        script(src="js/control.js")
