doctype html
html

    head

        meta(charset="utf-8")

        link(rel="stylesheet" href="css/control.css")

        title Control Screen - Patient Monitor

    body

        noscript
            p This application requires javascript to run.

        section#app: div.container

            div.ecg
                h2 ECG Display
                div.flex
                    a(
                        v-for="link in core.emt"
                        v-bind:value="link.src"
                        v-bind:id="link.id"
                        v-bind:class="{ current: link.current }"
                        v-on:click="updateEMT($event)"
                    ) {{link.name}}

            div.input
                h2 Patient Status
                div.inputs
                    div.combo(
                        v-for="(item, index) in core.input"
                        v-bind:index="index"
                        v-bind:id="item.id"
                    )
                        label(v-if="item.id != 'yy'" v-bind:for="item.id") {{item.name}}
                        input(v-else v-model="item.name")
                        input(v-model="item.data")

        section#bar

            a(onclick="app.resetEverything()") Reset everything
            //- span *
            a.display(target="_blank" href="display.html") Open display
            //- span *
            a(href="http://github.com/itaniknight/monitor/") GitHub

        //- external scripts
        script(src="js/jquery-3.1.1.js")
        script(src="js/lodash.min.js")
        script(src="js/vue.js")

        //- internal scripts
        script(src="js/core.js")
        script(src="js/control.js")
